body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  background: #f9f9f9;
  color: #0a3872;
}
header {
  background: #0a3872;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
header .logo img {
  height: 40px;
  margin-right: 10px;
}
.center-box {
  text-align: center;
  margin-top: 10%;
}
.center-box input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #57c6f9;
  width: 250px;
  font-size: 16px;
}
.center-box button, .plaza-list button, .booth-actions button {
  background: #57c6f9;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background: #0a3872;
}
table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #57c6f9;
  padding: 8px 12px;
  text-align: center;
}
th {
  background-color: #57c6f9;
  color: white;
}